:root {
    --white: #fff;
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.box img{
    width:50px;
    padding-bottom: 10px;
}

.box p {
    color: #fff;
    display: block;
}

.box h2{
    color: #c6b9f6;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px rgb(29, 29, 29);
    padding: 30px;
    width: 200px;
    background-color: #211c30;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 1100px) and (min-width: 450px) {
    .box {
        height: 180px;
    }
}

.purple {
    border-top: 3px solid var(--white);
}
